<?xml version="1.0" encoding="UTF-8"?>

<confluence-configuration>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.isolation">2</property>
    <property name="hibernate.connection.password">{{ app_db_password }}</property>
    <property name="hibernate.connection.url">jdbc:postgresql://{{ app_db_host }}:{{ app_db_port }}/{{ app_db_name }}</property>
    <property name="hibernate.connection.username">{{ app_db_user }}</property>
 </properties>
</confluence-configuration>

