# confluence
#
#

description "Atlassian CONFLUENCE"

start on runlevel [2345]
stop on runlevel [!2345]

respawn
respawn limit 10 5

#setuid {{ app_os_user }}

kill timeout 30

#env APPL={{ app_inst_dir }}

#env RUN_AS_USER={{ app_os_user }}
env RUN_AS_USER=root
env BASEDIR={{ app_inst_dir }}

script
    LOGFILE="$BASEDIR/logs/catalina.`date +%Y-%m-%d`.log"
    exec su - $RUN_AS_USER -c "$BASEDIR/bin/catalina.sh run" >> $LOGFILE 2>&1
end script

#script
#  set -x
#  chdir $APPL/logs
#  exec "$APPL/bin/catalina.sh" run
#end script

post-start script
  while ! wget http://localhost:{{ app_rescue_port }} -O /dev/null -t 1 ; do sleep 10 ; done
end script
